body {
    margin: 0px;
}

#title {
    text-align: center;
    background-color: #f8f0ff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Pacifico", cursive;
    font-size: 72px;
    margin-bottom: 25px;
    color: #8473d9;
    margin-right: 20px;
    margin-left: 20px;
}

#title p {
    font-family: "Quicksand", sans-serif;
    font-size: 32px;
    margin: 0px;
    margin-bottom: 100px;
    color: #8473d9;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
}

#welcome {
    text-align: center;
}

.nik {
    border-radius: 50%;
    margin-top: 100px;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 50px;
    color: #8473d9;
    margin: 0px;
}

#welcome h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    color: #2b2b2b;
    line-height: 30px;
    margin: 0px;
}

.blurb {
    text-align: center;
    max-width: 750px;
    margin-right: 50px;
    margin-left: 50px;
}

hr {
    border: dotted #e5e4f7 6px;
    border-bottom: none;
    width: 4%;
    margin: 90px auto;
}

h3 {
    color: #5947b5;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
}

#list p {
    margin-right: 50px;
    margin-bottom: 50px;
}

#list h2 {
    margin-bottom: 100px;
}

.list-img {
    display: float;
    float: left;
    margin-right: 50px;
    margin-left: 50px;
    height: 200px;
    padding-top: 18px;
}

.list-item {
    max-width: 950px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.button {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    width: 150px;
    height: 35px;
    color: white;
    background-color: #5947b5;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 100px;
}

#contact-me h3 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.button:hover {
    background-color: #4c3ba1;
}

#footer {
    background-color: #8d7ddb;
    height: 220px;
}

.links-container {
    display: flex;
    padding-top: 60px;
    gap: 30px;
}

.links-container a {
    color: #4c3aa6;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
}

.links-container a:hover {
    color: #ccc2ff;
}

footer {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    padding-top: 40px;
    color: #f0edfc;
}

@media (width < 850px) {
    .skill-img {
        float: none;
        max-width: fit-content;
    }

    .skill {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #skills p {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }
}